body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #242424;
    font-family: monospace;
    color: #abff2e;
    min-height: 100vh;
}

h1 {
    margin: 0 auto;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    display: flex;
    margin: 20px 0;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.search-container {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.search-container img {
    height: 24px;
    position: relative;
    top: 0px;
    right: 56px;
    padding: 15px;
}

input {
    border: none;
    color: #fff;
    background-color: #3d3d3d;
    border-radius: 9999px;
    height: 36px;
    font-size: 16px;
    width: 400px;
    padding: 10px 30px;
}

input:focus {
    border: none;
    box-shadow: none;
    outline: none;
    color: #fff;
    background-color: #3d3d3d !important;
}

input:not(:placeholder-shown) {
    color: #fff;
    background-color: #3d3d3d !important;
}

#search-button {
    border: none;
    background-color: #3d3d3d;
    color: #adff2f;
    border-radius: 9999px;
    font-size: 16px;
    padding: 18px 30px;
}

.week-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.day-card {
    box-sizing: border-box;
    background-color: #3d3d3d;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
    text-align: center;
    border: 1px solid #adff2f;
    width: 200px;
}

.forecast {
    font-size: 64px;
}

.date {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
}

.temp, .precip {
    margin-bottom: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 20px;
}
